<form method="POST" action="/new">
    <h2>Create new message</h2>
    <input type="text" name="user" id="user" placeholder="user">
    <input type="text" name="message" id="message" placeholder="message">
    <input type="submit" value="send">
</form>